<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image to csv</title>
</head>
<body>
    <h1>Your images here...</h1>
    <div>
        <form action="load_files" method="get" enctype="multipart/form-data">
            <label for="filenames">Filenames:</label></br>
            <input type="text" id="filenames" name="filenames"></br>
            <input type="submit" value="Download"></br>

            <input type="hidden" name="terminator" value=" ">
        </form>
    </div>
</body>
</html>