<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image to csv</title>
</head>
<body>
    <h1>Hoi</h1>
    <table>
        <tr>
            <td><a href="/upload_images">Upload Images</a></td>
            <td><a href="/download_images">Download Images</a></td>
            <td><a href="/create_video">Create Video</a></td>
            <td><a href="/show_video">Show Video</a></td>
        </tr>
    </table>
    <hr>
    <h1>Request new Video...</h1>

    <div>
        <form action="request_generate_video" method="post" enctype="multipart/form-data">
            <label for="videoname">Videoname:</label></br>
            <input type="text" id="videoname" name="videoname"></br>

            <label for="filenames">Filenames:</label></br>
            <input type="text" id="filenames" name="filenames"></br>

            <input type="submit" value="Create"></br>
            <input type="hidden" name="terminator" value=" ">
        </form>
    </div>
        <hr>
    {{ filenames }}
</body>
</html>