<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image to csv</title>
</head>
<body>
    <h1>Create Video...</h1>

    <div>
        <form action="request_generate_video" method="post" enctype="multipart/form-data">
            <label for="videoname">Videoname:</label></br>
            <input type="text" id="videoname" name="videoname"></br>

            <label for="filenames">Filenames:</label></br>
            <input type="text" id="filenames" name="filenames"></br>

            <input type="submit" value="Download"></br>
            <input type="hidden" name="terminator" value=" ">
        </form>
    </div>
</body>
</html>